/* JokeList.css */
.joke-card {
  display: none; /* Hide all joke cards by default */
}

.visible {
  display: block; /* Display the joke card if it has the 'visible' class */
  animation: fadeInOut 2s ease-in-out; /* Use fadeInOut animation */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0; /* Fully transparent at the beginning and end */
  }
  50% {
    opacity: 1; /* Fully visible at the middle */
  }
}
